@charset "utf-8";
/* CSS Document */
body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{font-size:12px; font-family:"微软雅黑";}
input,a{outline:none;}


#main1-con{height:344px;}
#main1-con .left{width:395px;height:343px;float:left;}
#main1-con .left .p1{color:#82b92c;font-size:20px;height:28px;}
#main1-con .left .p2{color:#000;font-size:12px;line-height:28px;}
#main1-con .left ul{float:left;padding-left:4px;margin-top:27px;}
#main1-con .left ul li{float:left;margin-right:16px;}
#main1-con .left ul .li1{float:left;margin-top:28px;}
#main1-con .left ul .li2{float:left;margin-top:0px;margin-right:0}

#main1-con .right{width:387px;height:343px;float:left;margin-left:140px;}
#main1-con .right .p1{color:#82b92c;font-size:24px;height:40px;line-height:40px;}
#main1-con .right .p3{color:#000;font-size:12px;line-height:22px;}
#main1-con .right .p4{color:#000;font-size:10px;line-height:22px;margin-top:40px;}
#main1-con .right .p5{color:#000;font-size:10px;line-height:22px;}


#main2-con{height:396px;}
#main2-con li{float:left}
#main2-con dl{margin-right:15px}
#main2-con dl dd{width:220px;height:38px;text-align:center;}



#main3-con{height:175px;}
#main3-con ul li{float:left;margin-right:30px;}
#main3-con ul .li6{margin-right:0;}


#main4-con{height:216px;}
#main4-con .left{width:461px;height:216px;float:left;}
#main4-con .left h2{padding-left:20px;float:left;font-size:12px;}
#main4-con .left .span1{float:right;font-size:12px;}
#main4-con .left ul{float:left;width:461px;}
#main4-con .left ul li{line-height:30px;text-indent:18px;background:url(../images/lbf.jpg) no-repeat left center;border-bottom:1px dashed #666}
#main4-con .left ul .span3{float:right;}


#main4-con .right{width:450px;height:216px;float:right;}
#main4-con .right h2{padding-left:20px;float:left;font-size:12px;}
#main4-con .right ul{float:left;width:450px}
#main4-con .right ul li{float:left;line-height:30px;width:450px;border-bottom:1px dashed #666}
#main4-con .right ul li .a1{float:left;}
#main4-con .right ul li .a2{float:right;}



#main-1con .left{width:225px;height:590px;float:left;}
#main-1con .left .p1{padding-top:78px;font-size:20px;color:#88bd33;line-height:30px;}
#main-1con .left .p2{font-size:20px;color:#88bd33;line-height:30px;}
#main-1con .left .p3{font-size:20px;color:#88bd33;line-height:30px;}
#main-1con .left .p4{font-size:20px;color:#88bd33;line-height:30px;}

#main-1con .left ul{padding-top:33px;}
#main-1con .left ul li{height:28px;font-size:12px;line-height:28px;}
#main-1con div{width:190px;height:56px;font-size:18px;color:#88bd33;border-bottom:dashed 1px #666}


#main-1con .right{width:735px;height:590px;float:right;}
#main-1con .right .gsdt{width:735px;height:34px;background:#cccccc;color:#000;text-indent:44px;line-height:34px;border:0;margin-top:75px;}

#main-1con .right .span1{float:right;font-size:12px;}
#main-1con .right .ul1{float:left;width:735px;}
#main-1con .right .ul1 li{line-height:35px;text-indent:18px;background:url(../images/lbf.jpg) no-repeat left center;border-bottom:1px dashed #666}
#main-1con .right .ul1 .span3{float:right;}

#main-1con .right .ul2{margin-top:22px;float:left;}
#main-1con .right .ul2 li{float:left;margin-left:19px;}
#main-1con .right .ul2 .li1{pading:7px 5px;border:1px solid #d3dce5;}










